@model Traveling.ViewModels.HomeViewModel
@* the model must be the one that the controller is refering to *@

@{
    ViewBag.Title = "Home Page";

}

<div class="my-home-container">
    <div class="my-left-aside-container">
        <h2>Tips for the Trip</h2>
        @foreach (var tip in Model.Tips)
        {
            <div class="my-left-aside-card">
                <h3 class="card-tip-title">@tip.Title</h3>
                <p class="card-tip-text">@tip.TipText</p>
            </div>
        }
    </div>

    @* templates for each card in each category section *@
<main class="my-main-section">

    <h2 class="my-section-title">Travel locations</h2>
    <hr class="my-section-title-hr" />


    @foreach (var category in Model.Categories)
    {
        var destinationsCount = category.Destinations.Count();

        if (!(destinationsCount == 0))
        {
            <section class="my-section-container">
                <hr class="my-travel-section-hr" />
                
                <h3 class="my-travel-category">@category.Name</h3>
                <div class="my-travel-section">
                    @{
                        string linkText;
                    }
                    @foreach (var destination in category.Destinations)
                    {
                        @*@Html.ActionLink("Card link", "Index", "Destinations", new {}, new {id=1})*@
                        int id = destination.Id;
                        string cardId = "card-" + id;
                        <a class="my-clickable-card-container my-card" href="/Destinations/DestinationInfo?destinationId=@id">
                            <article class="my-section-card">
                                <img src="@destination.Image">
                                <div class="card-body">
                                    <div class="titles-container">
                                        <h4>@destination.Name</h4>
                                    </div>
                                    <p>@destination.Description</p>
                                </div>
                            </article>
                        </a>
                    }
                </div>
            </section>
        }
    }
</main>
    @*<div class="my-slideshow-container"></div>*@
</div>
